{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load in_queryset %}
{% load i18n %}
{% block content %}
    <div class="section section--hero">
        <div class="section__content">
            <div class="container-fludi container-wide">
                <div class="card">
                    <article class="card-body">
                        <div class="card-title text-center">
                            <h5>{% trans "Настройки пользователя" %}</h5>
                        </div>
                        <div class="creteForm">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% crispy form %}
                            </form>
                        </div>
                    </article>
                </div>
                <div class="card mt-2">
                    <article class="card-body">
                        <div class="card-title text-center">
                            <h5>{% trans "Привязка к социальным сетям" %}</h5>
                        </div>
                        <div class="social__oauth d-flex justify-content-center">
                            {% if 'google-oauth2' in object.social_auth.all|in_queryset %}
                                <form class="m-1" action="{% url 'social:disconnect' 'google-oauth2' %}?next={{ request.path }}" method="post">
                                    {% csrf_token %}
                                    <button type="submit"
                                            class="text-left social-button btn btn-block btn-outline-danger">
                                        <i class="fa fa-google"></i>   {% trans "Отвязать аккаунт Google" %}
                                    </button>
                                </form>
                            {% else %}
                                <div class="m-1">
                                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"
                                       class="text-left social-button btn btn-block btn-danger">
                                        <i class="fa fa-google"></i> {% trans "Привязать аккаунт Google" %} </a></div>
                            {% endif %}

                            {% if 'facebook' in object.social_auth.all|in_queryset %}
                                <form class="m-1" action="{% url 'social:disconnect' 'facebook' %}?next={{ request.path }}" method="post">
                                    {% csrf_token %}
                                    <button type="submit"
                                            class="text-left social-button btn btn-block btn-outline-primary">
                                        <i class="fa fa-facebook-f"></i>   {% trans "Отвязать аккаунт Facebook" %}
                                    </button>
                                </form>
                            {% else %}
                                <div class="m-1">
                                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"
                                       class="text-left social-button btn btn-block btn-primary">
                                        <i class="fa fa-facebook-f"></i> {% trans "Привязать аккаунт Facebook" %}</a></div>
                            {% endif %}

                            {% if 'github' in object.social_auth.all|in_queryset %}
                                <form class="m-1" action="{% url 'social:disconnect' 'github' %}?next={{ request.path }}" method="post">
                                    {% csrf_token %}
                                    <button type="submit"
                                            class="text-left social-button btn btn-block btn-outline-dark">
                                        <i class="fa fa-github"></i> {% trans "Отвязать аккаунт GitHub" %}
                                    </button>
                                </form>
                            {% else %}
                                <div class="m-1">
                                    <a href="{% url 'social:begin' 'github' %}?next={{ request.path }}"
                                       class="text-left social-button btn btn-block btn-dark">
                                        <i class="fa fa-github"></i> {% trans "Привязать аккаунт GitHub" %}</a>
                                </div>
                            {% endif %}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}