{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <div class="section section--hero">
        <div class="section__content">
            <div class="container-fludi container-wide">
                <div class="card">
                    <article class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-primary" type="submit" value="{% trans 'Войти' %}"/>
                            <input type="hidden" name="next" value="{{ next }}"/>
                            <p class="float-right">{% trans "Забыли пароль?" %} <a
                                    href="{% url 'auth_password_reset' %}">{% trans "Сбросить" %}</a>.</p>
                        </form>
                        <div class="social-login">
                            <a class="text-dark" style="text-decoration: none"
                               href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google fa-2x"
                                                                                  aria-hidden="true"></i></a>
                            <a class="text-dark" style="text-decoration: none"
                               href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook fa-2x"
                                                                             aria-hidden="true"></i></a>
                        </div>


                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
