{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <div class="section section--hero">
        <div class="section__content">
            <div class="container-fludi container-wide">
                <div class="card">
                    <article class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-primary" type="submit" value="{% trans 'Изминенить пароль' %}"/>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
