{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <div class="section section--hero">
        <div class="section__content">
            <div class="container-fludi container-wide">
                <div class="card">
                    <article class="card-body">
                        <p>
                            {% blocktrans %}
                                Мы отправили вам письмо с ссылкой на активацию вашего пароля. Пожалуйста проверьте
                                ваш почтовый ящик. Пожалуйста нажмите на ссылку в письме
                            {% endblocktrans %}
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
