{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
    <div class="section section--hero">
        <div class="section__content">
            <div class="container-fludi container-wide">
                <div class="card">
                    <article class="card-body">
                        <p>
                            {% trans "Ваш пароль успешно изминен!" %}
                            {% blocktrans %}Теперь вы можете <a href="{{ login_url }}">войти</a>{% endblocktrans %}.

                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
