{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    <div class="section section--hero">
        <div class="section__content">
            <div class="container-fludi container-wide">
                <div class="card">
                    <article class="card-body">
                        <p>
                            {% blocktrans %}
                                Забыли пароль? Введите ваш почтовый адрес в форме ниже и мы вышлем вам инструкцию по
                                восстановлению.
                            {% endblocktrans %}
                        </p>
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-primary" type="submit" value="{% trans 'Reset password' %}"/>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
