{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="section section--hero">
        <div class="section__content">
            <div class="container-fludi container-wide">
                <div class="card">
                    <article class="card-body">
                        <div class="text-center"><h2 class="section__title">Тест кейс</h2></div>
                        <div class="row mb-4">
                            <div class="col-6">
                                <h4 class="section__title">{{ case.name }}</h4>
                            </div>
                            <div class="col-6 text-right">
                                <a class="btn btn-info"
                                   href={% url 'case_edit' case.pk %}> {% trans "Редактировать" %}</a>
                                <a class="btn btn-warning"
                                   href={% url 'case_list' %}> {% trans "Вернутся в список" %}</a>
                                <a class="btn btn-danger" href={% url 'case_delete' case.pk %}>{% trans "Удалить" %}</a>
                            </div>
                        </div>
                        <div class="precondition">
                            <div class="precondition__title h4">
                                {% trans "Предусловия" %}
                            </div>
                            <div class="precondition__content h6 mb-4">
                                {{ case.precondition|linebreaks }}
                            </div>
                        </div>
                        <div class="description">
                            <div class="description__title h4">
                                {% trans "Описание" %}
                            </div>
                            <div class="description__content h6 mb-4">
                                {{ case.description|linebreaks }}
                            </div>
                        </div>
                        <div class="expectedResults">
                            <div class="expectedResults__title h4">{% trans "Ожидаемые результаты" %}</div>
                            <div class="expectedResults__content h6 mb-4">
                                {{ case.excepted_result|linebreaks }}
                            </div>
                        </div>
                        <div class="testPlan">
                            <div class="testPlan__title">{% trans "Тест планы" %}</div>
                            <div class="testPlan__content mb-4">
                                <table class="table table-lg table-hover border justify-content-center">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Название</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for plan in case.plan_set.all %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td><a class="text-dark" href={% url "plan_detail" plan.pk %}>{{ plan }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tags">
                            <div class="tags__title">
                                Теги
                            </div>
                            <div class="tags__content mb-4">
                                {% for tag in tags %}
                                    <a class="text-dark" href="{% url 'case_list' %}?search_string=&date_from=&date_to=&run_by=&result=&plan=&tags={{ tag.tag_id }}">{{ tag.tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="runLog">
                            <div class="runLog__title h4">
                                {% trans "Лог запуска" %}
                            </div>
                            <table class="display_case_logs table table-lg table-hover table-bordered mb-4">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th scope="col">{% trans "Дата запуска" %}</th>
                                    <th scope="col">{% trans "Запустил" %}</th>
                                    <th scope="col">{% trans "Статус" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>

        function format(d) {
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                '<tr>' +
                '<td>Коментарий:</td>' +
                '<td>' + d.comment + '</td>' +
                '</tr>' +
                '</table>';
        }

        $(document).ready(function () {
            var table = $('table.display_case_logs').DataTable({
                "searching": false,
                "lengthChange": false,
                "language":{
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
                },
                "serverSide": true,
                "ordering": false,
                "ajax": {"url": "{% url 'case_log_case_rel' case.pk %}?format=datatables&columns[4][data]=comment",},
                "columns": [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                    },
                    {
                        data: "date",
                        render: function (data, type, row) {
                            var date = moment(data).locale('ru').format('D MMMM YYYY г. H:mm');

                            return date;
                        }
                    },
                    {data: "run_by.get_full_name"},
                    {
                        data: "status",
                        "createdCell": function (td, cellData, rowData, row, col) {
                            switch (cellData) {
                                case '1':
                                    $(td).addClass('text-center bg-success text-light rounded');
                                    break;
                                case '0':
                                    $(td).addClass('text-center bg-danger text-light rounded');
                                    break;
                                default:
                                    $(td).addClass('text-center bg-secondary text-light rounded');
                                    break;
                            }
                        },
                        render: function (data, type, row) {
                            if (data === '0') return "Провалено";
                            else return "Успешно";
                        },
                    },
                ],
                {#"order": [[3, 'asc']],#}
            });

            $('table.display_case_logs tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    console.log(row.data());
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        });
    </script>
{% endblock %}