{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <div class="section section--hero">
        <div class="section__content">
            <div class="container-fludi container-wide">
                <div class="card">
                    <article class="card-body">
                        <div class="creteForm">

                            <form method="POST">
                                <div class="planrun__container">
                                {% crispy form %}
                                </div>
                            </form>



                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}