{% extends "base.html" %}

{% block content %}

    <div class="section section--hero">
        <div class="section__content">
            <div class="container-fludi container-wide">
                <div class="card">
                    <article class="card-body">


                        <div class="row">
                            <div class="col-7">
                                <h2 class="plan__title">{{ plan.name }}</h2>
                            </div>
                            <div class="col-5 text-right">
                                <a class="btn btn-info" href={% url "plan_edit" plan.pk %}>Редактировать</a>
                                <a href="#" class="btn btn-primary">Запустить тест план</a>
                                <a href={% url 'plan_list' %} class="btn btn-warning">Вернутся в список</a>
                                <a href={% url 'plan_delete' plan.pk %} class="btn btn-danger">Удалить</a>
                            </div>
                        </div>
                        <div class="plan__decription">
                            {{ plan.description }}
                        </div>
                        <h2 class="planDetail__title mt-2">Детали тест плана</h2>
                        <div class="planDetail__table">
                            <table class="table table-lg table-hover border justify-content-center">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Название тест кейса</th>
                                    <th scope="col">Дата последнего запуска</th>
                                    <th scope="col">Запустил</th>
                                    <th scope="col">Статут запуска</th>
                                    <th scope="col">Коментарий</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for case in cases %}
                                    <tr>
                                        <td>{{ case.id }}</td>
                                        <td><a class="text-dark" href={% url 'case_detail' case.pk %}>{{ case.name }}</a></td>
                                        <td>{{ case.last_run|date:"D d M Y"|default:"Не запускалось" }}</td>
                                        <td>{{ case.create_by }}</td>
                                        {%  if case.status == "0" %}
                                            <td class="text-center bg-secondary text-light rounded">{{ case.get_status_display }}</td>
                                        {% elif case.status == "1" %}
                                            <td class="text-center bg-success text-light rounded">{{ case.get_status_display }}</td>
                                        {% else %}
                                            <td class="text-center bg-danger text-light rounded">{{ case.get_status_display }}</td>
                                        {% endif %}
                                        <td>{{ case.comment }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <h2 class="planLog__title">Лог тест плана</h2>
                        <div class="planLog__table">
                            <table class="table table-lg table-hover border">
                                <thead>
                                <tr>
                                    <th scope="col">Дата последнего запуска</th>
                                    <th scope="col">Запустил</th>
                                    <th scope="col">Статус запуска</th>
                                    <th scope="col">Коментарий</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for log in logs %}
                                    <tr>
                                    <td>{{ log.date|date:"D d M Y" }}</td>
                                    <td>{{ log.plan.create_by }}</td>
                                        {%  if log.status == "0" %}
                                            <td class="text-center bg-success text-light rounded">{{ log.get_status_display }}</td>
                                        {% elif log.status == "1" %}
                                            <td class="text-center bg-danger text-light rounded">{{ log.get_status_display }}</td>
                                        {% else %}
                                            <td class="text-center bg-danger text-light rounded">{{ log.get_status_display }}</td>
                                        {% endif %}
                                    <td>{{ log.comment }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}