{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="section section--hero">
        <div class="section__content">
            <div class="container-fludi container-wide">
                <div class="card">
                    <article class="card-body">
                        <a class=" text-dark" href={% url 'plan_detail' planlog.plan_id %}><h5
                                class="card-title text-center">{{ planlog.plan.name }}</h5></a>

                        <div>
                            <p class="card-subtitle mb-2 text-muted">Коментарий:</p>
                            <p class="card-text">{{ planlog.comment }}</p>
                        </div>


                        <div>
                            <p class="card-subtitle mb-2 mt-4 text-muted">Подробнее:</p>

                            <table class="display_plan_cases table table-lg table-hover border justify-content-center">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">{% trans "Название тест кейса" %}</th>
                                    <th scope="col">{% trans "Дата запуска" %}</th>
                                    <th scope="col">{% trans "Запустил" %}</th>
                                    <th scope="col">{% trans "Статут запуска" %}</th>
                                    <th>{% trans "Коментарий" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>

        $(document).ready(function () {
            var table = $('table.display_plan_cases').DataTable({
                "searching": false,
                "lengthChange": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
                },
                "ordering": false,
                "serverSide": true,
                "ajax": {"url": "{% url 'case_log_plan_rel' planlog.pk %}?format=datatables&columns[6][data]=comment",},
                "columns": [
                    {
                        data: "case.id",
                        "className": "align-middle"
                    },
                    {
                        data: "case",
                        render: function (data, type, row) {
                            return "<a class=\"text-dark\" href=" + document.location.origin + data.url + ">" + data.name + "</a>"
                        },
                        "className": "align-middle"
                    },
                    {
                        data: "last_run",
                        render: function (data, type, row) {
                            return moment(data).locale('ru').format('D MMMM YYYY г. H:mm');
                        },
                        "width": "200px",
                        "className": "align-middle"
                    },
                    {
                        data: "run_by.get_full_name",
                        "width": "150px",
                        "className": "align-middle"
                    },
                    {
                        data: "status",
                        "createdCell": function (td, cellData, rowData, row, col) {
                            console.log(cellData);
                            switch (cellData) {
                                case '1':
                                    $(td).addClass('text-center bg-success text-light rounded align-middle');
                                    break;
                                case '2':
                                    $(td).addClass('text-center bg-danger text-light rounded align-middle');
                                    break;
                                default:
                                    $(td).addClass('text-center bg-secondary text-light rounded align-middle');
                                    break;
                            }
                        },
                        render: function (data, type, row) {
                            if (data === '2') return "Провалено";
                            else return "Успешно";
                        },
                        "className": "align-middle"
                    },
                    {data: "comment"}
                ]

            });
        })
        ;

    </script>
{% endblock %}