{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="section section--hero">
        <div class="section__content">
            <div class="container-fludi container-wide">
                <div class="card">
                    <article class="card-body">
                        <div class="deleteForm">
                            <div class="text-center">
                                <div class="display-1 text-danger">403 <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
                                <div class="display-4">У вас нет прав для этого</div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}