{% load case_status %}
{% load i18n %}
<header>
    <!DOCTYPE html>
    <html lang="en" dir="ltr">    </html>

    <head>
        <meta charset="utf-8">
        <title>Catapulta tester</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
        <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/main.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/css/select2.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'css/multi-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/select2-bootstrap4.css' %}">
        {{ form.media }}
    </head>
        <body>
            <div class="layout">

                <div class="header layout__header">
                    <nav class="navbar navbar-light bg-light">
                        <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse"
                                data-target="#navbar" aria-controls="navbar" aria-expanded="true"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <ul class="navbar_nav mr-auto my-auto d-flex align-items-center">
                            <a class="btn btn-md d-flex align-items-center text-dark"
                               style="background-color: transparent;" href={% url 'plan_create' %}>
                                <i class="fa fa-2x fa-plus-circle mr-1" aria-hidden="true"></i>{% trans "Добавить тест план" %}</a>
                            <a class="btn btn-md d-flex align-items-center text-dark "
                               style="background-color: transparent;" href={% url 'case_create' %}>
                                <i class="fa fa-2x fa-plus-circle mr-1" aria-hidden="true"></i>
                                {% trans "Добавить тест кейс" %}
                            </a>
                        </ul>
                        {% if user.is_authenticated %}
                            <ul class="navbar_nav ml-auto my-auto">
                                <div class="navbar-text d-none d-xl-inline-block">
                                    {% trans "Приветствую" %}, {{ request.user.first_name }}, {% trans "сделай свой продукт круче - покрой тестами все!" %}
                                </div>
                                <button class="btn btn-md btn-primary-outline ml-2" type="button" data-toggle="dropdown"
                                        id="userMenu" style="background-color:transparent; border:none">
                                    <img src="{{ user.avatar.url }}" , style="height: 36px; width: 36px" class="rounded-circle">
                                    {#                            <i class="fa fa-2x fa-user-o" aria-hidden="true"></i>#}
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                    <li class="nav-item">
                                        <a href={% url 'logout' %} class="text-dark d-flex align-items-center ml-3"
                                        style="text-decoration: none">Выйти
                                        <i class="fa fa-angle-right fa-2x ml-2"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="text-dark d-flex align-items-center ml-3" style="text-decoration: none"
                                           href={% url 'account_edit' user.pk %}>{% trans "Настройки" %}
                                            <i class="fa fa-cog fa-2x ml-2"></i></a>
                                    </li>
                                </ul>
                            </ul>
                        {% else %}
                            <ul class="navbar_nav ml-auto my-auto">
                                <button class="btn btn-md btn-primary-outline ml-2" type="button" data-toggle="dropdown"
                                        id="userMenu" style="background-color:transparent; border:none">
                                    <img src="/media/avatars/default-user.png" , style="height: 36px; width: 36px"
                                         class="rounded-circle">
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                    <li class="nav-item">
                                        <a class="text-dark d-flex align-items-center ml-3" style="text-decoration: none"
                                           href={% url 'login' %}>{% trans "Войти" %}
                                            <i class="fa fa-angle-right fa-2x ml-2"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="text-dark d-flex align-items-center ml-3" style="text-decoration: none"
                                           href={% url 'registration_register' %}>{% trans "Регистрация" %}
                                            <i class="fa fa-angle-right fa-2x ml-2"></i></a>
                                    </li>
                                </ul>
                            </ul>
                        {% endif %}
                    </nav>
                    <div class="container m-0" style="margin-top: -1px; position: absolute">
                        <div class="row">
                            <div class="col-auto navbar-light bg-light navbar__list">
                                <div class="collapse navbar-collapse" id="navbar">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url "dashboard" %}>{% trans "Главная" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url 'plan_list' %}>{% trans "Список тест планов" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url 'case_list' %}>{% trans "Списов тест кейсов" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url "tags_list" %}>{% trans "Теги" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url 'account_list' %}>{% trans "Пользователи" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href={% url 'groups_list' %}>{% trans "Роли" %}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% load i18n %}
    </body>
</header>
{% for message in messages %}
    {% if message %}
        <div class="alert alert-{{ message.tags }}" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть">
            <span aria-hidden="true">&times;</span></button>
            {{ message }}</div>
    {% endif %}
{% endfor %}
{% block content %}{% endblock %}


<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>

<footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/js/select2.min.js"></script>
    <script src="{% static 'js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'js/jquery.quicksearch.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</footer>
