{% extends "base.html" %}
{% load case_status %}
{% load i18n %}
{% load get_filter_dashboard %}
{% block content %}
    {% case_status request %}

    <div class="laoyut__body">
        <div class="section section--hero">
            <div class="section__content">
                <div class="container-fludi container-wide">
                    <div class="card">
                        <article class="card-body">
                            <p class="h3 text-center"> {% trans "Статистика тест планов" %}</p>
                            <div class="hero__date ml-auto">
                                <form class="form-inline justify-content-between">
                                    <span>{% trans 'Выберите преиод "с"' %}</span>
                                    <input class="form-control" type="date" name="date_from" value="{{ request.GET.date_from }}">
                                    <span>{% trans '"по"' %}</span>
                                    <input class="form-control" type="date" name="date_to" value="{{ request.GET.date_to }}">
                                    <button type="submit" class="btn btn-primary">{% trans "Подтвердить" %}</button>
                                </form>
                            </div>
                            <div class="hero__dashboard py-4">
                                <div class="container__dashboard">
                                    <div class="table__dashboard border">
                                        <div class="row mb-3 ml-0 mr-0">
                                            <div class="col-9 border">
                                                {% trans "Запускалось более 1 месяца назад от выбраного периода"%}
                                            </div>
                                            <div class="col-3 text-center border">
                                                {{ plan_before_count }}
                                            </div>
                                        </div>
                                        <table class="table table-sm table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">{% trans "Название тест плана" %}</th>
                                                <th scope="col">{% trans "Дата последнего запуска" %}</th>
                                                <th scope="col">{% trans "Статус запуска" %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for plan in plan_list_before %}
                                                <tr>
                                                    <td>{{ plan.pk }}</td>
                                                    <td><a class="text-dark"
                                                           href={% url 'plan_detail' plan.pk %}>{{ plan.name }}</a></td>
                                                    <td class="align-middle">{{ plan.last_log.last_run|date:"D d M Y"|default:_("Не запускался")}}</td>
                                                    {% if plan.last_log.status == "0" %}
                                                        <td class="text-center bg-danger text-light rounded align-middle">{{ plan.last_log.get_status_display }}</td>
                                                    {% elif plan.last_log.status == "1" %}
                                                        <td class="text-center bg-success text-light rounded align-middle">{{ plan.last_log.get_status_display }}</td>
                                                    {% else %}
                                                        <td class="text-center bg-secondary text-light rounded align-middle">Не выполнялось</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                        {% if is_paginated %}
                                            <ul class="pagination">
                                                {% if plan_list_before.has_previous %}
                                                    <li class="page-item"><a class="page-link"
                                                                             href="?page_l={{ plan_list_before.previous_page_number }}&{{ request.get_full_path|get_filter_dashboard:'left' }}">&laquo;</a>
                                                    </li>
                                                {% else %}
                                                    <li class="disabled page-item"><span
                                                            class="page-link">&laquo;</span></li>
                                                {% endif %}

                                                {% for i in paginator_l.page_range %}
                                                    {% if plan_list_before.number == i %}
                                                        <li class="active page-item"><span
                                                                class="page-link">{{ i }}<span
                                                                class="sr-only">(current)</span></span></li>
                                                    {% else %}
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="?page_l={{ i }}&{{ request.get_full_path|get_filter_dashboard:'left' }}">{{ i }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if plan_list_before.has_next %}
                                                    <li class="page-item"><a class="page-link"
                                                                             href="?page_l={{ plan_list_before.next_page_number }}&{{ request.get_full_path|get_filter_dashboard:'left' }}">&raquo;</a>
                                                    </li>
                                                {% else %}
                                                    <li class="disabled page-item"><span
                                                            class="page-link">&raquo;</span></li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}


                                    </div>
{#                                    <div class="col-2"></div>#}
                                    <div class="table__dashboard border">
                                        <div class="row mb-3 ml-0 mr-0">
                                            <div class="col-6 border">{% trans "Запускалось за выбранный период" %}</div>
                                            <div class="col-2 border bg-secondary text-light">
                                                <span>{% trans Всего %}</span>
                                                <span class="selectedPeriod__all">{{ plan_count }}</span>
                                            </div>
                                            <div class="col-2 border bg-success text-light">
                                                <span>PASS</span>
                                                <span class="selectedPeriod__pass">{{ plan_success_count }}</span>
                                            </div>
                                            <div class="col-2 border bg-danger text-light">
                                                <span>FAIL</span>
                                                <span class="selectedPeriod__fail">{{ plan_failed_count }}</span>
                                            </div>
                                        </div>
                                        <table class="table table-sm table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">{% trans "Название тест плана" %}</th>
                                                <th scope="col">{% trans "Дата последнего запуска" %}</th>
                                                <th scope="col">{% trans "Статус запуска" %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for plan in plan_list %}
                                                <tr>
                                                    <td>{{ plan.pk }}</td>
                                                    <td><a class="text-dark"
                                                           href={% url 'plan_detail' plan.pk %}>{{ plan.name }}</a></td>
                                                    <td class="align-middle">{{ plan.last_log.last_run|date:"D d M Y"|default:_("Не запускался") }}</td>
                                                    {% if plan.last_log.status == "0" %}
                                                        <td class="text-center bg-danger text-light rounded align-middle">{{ plan.last_log.get_status_display }}</td>
                                                    {% elif plan.last_log.status == "1" %}
                                                        <td class="text-center bg-success text-light rounded align-middle">{{ plan.last_log.get_status_display }}</td>
                                                    {% else %}
                                                        <td class="text-center bg-secondary text-light rounded align-middle">Не выполнялось</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    {% if is_paginated %}
                                            <ul class="pagination">
                                                {% if plan_list.has_previous %}
                                                    <li class="page-item"><a class="page-link"
                                                                             href="?page_r={{ plan_list.previous_page_number }}&{{ request.get_full_path|get_filter_dashboard:'right' }}">&laquo;</a>
                                                    </li>
                                                {% else %}
                                                    <li class="disabled page-item"><span
                                                            class="page-link">&laquo;</span></li>
                                                {% endif %}

                                                {% for i in paginator_r.page_range %}
                                                    {% if plan_list.number == i %}
                                                        <li class="active page-item"><span
                                                                class="page-link">{{ i }}<span
                                                                class="sr-only">(current)</span></span></li>
                                                    {% else %}
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="?page_r={{ i }}&{{ request.get_full_path|get_filter_dashboard:'right' }}">{{ i }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if plan_list.has_next %}
                                                    <li class="page-item"><a class="page-link"
                                                                             href="?page_r={{ plan_list.next_page_number }}&{{ request.get_full_path|get_filter_dashboard:'right' }}">&raquo;</a>
                                                    </li>
                                                {% else %}
                                                    <li class="disabled page-item"><span
                                                            class="page-link">&raquo;</span></li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}


{% endblock %}